.PageNav, .PageBody, .PageFooter {
  padding: 0 10vw;

  @include for-desktop-up {
    padding: 0 calc((100vw - 1100px) / 2);
  }
}

.PageNav {
  height: 80px;
  display: flex;
  background-color: $nav-footer-bg;
  border-bottom: $nav-footer-border;

  @include for-phone-only {
    padding: 0 5vw;
  }

  &-logo {
    font-size: 26px;
    display: flex;
    align-items: center;
  }

  &-logoIcon {
    font-family: 'Keep Calm'; // TODO What happens when font dont load ? use img?
    padding-right: 20px;
    font-size: 40px;
  }

  &-logoText {
    display: none;
    @include for-tablet-portrait-up {
      display: block;
      font-size: 30px;
    }
  }

  &-controls {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-controlsItem {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 50px;
    color: rgb(63, 56, 68);
    @include link();

    @include for-phone-only {
      margin-left: 5vw;
    }

    &.is-active {
      font-weight: 600;      
      color: rgb(63, 56, 68);      
    }
  }
}

.PageBody {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  // background-color:#fdfdfd;
  background: rgba(237,237,237,1);
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(253,253,253,1) 85%, rgba(255,255,255,1) 94%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(85%, rgba(253,253,253,1)), color-stop(94%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(253,253,253,1) 85%, rgba(255,255,255,1) 94%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(253,253,253,1) 85%, rgba(255,255,255,1) 94%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(253,253,253,1) 85%, rgba(255,255,255,1) 94%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(253,253,253,1) 85%, rgba(255,255,255,1) 94%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );

  &-content {
    position: relative;
    z-index: 2;
  }

  &-bgContrast {
    z-index: 0;
    position: absolute;
    left: 0;
    width: 100%;
    top: 355px;
    height: 100%;
  }

  &-topSpace {
    //min-height: 120px;
    height: 12vh;
  }

  &-bottomSpace {
    //min-height: 100px;
    height: 10vh;
  }

  .MainTextSection {
    padding-bottom: 1rem;
  }
}

.PageFooter {
  background-color: $nav-footer-bg;
  border-top: $nav-footer-border;  
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;

  &-about {
    flex: 2;
    margin-right: 20vw;
    @include for-phone-only {
      min-width: 80vW;
    }
  }

  &-contact {
    flex: 1;
    @include for-phone-only {
      min-width: 80vW;
    }
  }

  &-contactList {
    @include for-phone-only {
      min-width: 80vW;
    }
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: 10px;
      @include link();
    }
  }

  &-socialMediaList {
    display: flex;
    flex-direction: column;
  }
}

.SocialIcon {
  display: block;
  height: 26px;
  width: 26px;
  svg {
    width: 100%;
    height: 100%;
  }

  &-googlePlus {
    width: 30px;
    padding-left: 4px;
  }
}