
.PageBody.History {
  @include for-desktop-up {
    padding: 0 calc((100vw - 1000px) / 2);
  }
}

.History {
  color: rgba(0,0,0,.8);

  p {
    font-size: 1.1rem;
    line-height: 1.5rem;

  } // TODO move to snippet

  &-imageWrap {
    margin-top: 2rem;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 320px;
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
  }

  &-imageTitle {
    font-style: italic;
    margin-top: 0.3rem;
    font-size: 0.9rem;
    color: lighten(black, 25%)
  }

  &-imageTitleSymbol {
    padding: 0 5px;
  }
}