
.PosterCanvasContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: $bs-medium;
  padding: 10px;
  border-radius: $br-medium;

  @include for-desktop-up {
    flex-direction: row;
  }
}

.PosterCanvas {
  flex-direction: row;

  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.ContentRetrieveOverlay, .ContentRetrieveOverlay-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.ContentRetrieveOverlay {
  //@include for-desktop-up {
  //  display: none;
  //}

  &-main {
    background-color: rgba(1, 1, 1, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
  }

  &-optionButton {
    @include button();
  }
}

.ContentRetrieveExternal {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 10px;


  @include for-desktop-up {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
  }

  &-optionButton {
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid darken(#eaeaea, 10%);
    color: darken(#eaeaea, 35%);
    font-weight: 700;
    border-radius: $br-medium;

    &:hover {
      border: 1px solid darken(#eaeaea, 40%);
      color: darken(#eaeaea, 75%);
    }
  }
}
