
.CreatorContainer {
  background-color: white;
  border-radius: $br-medium;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
  margin: 0 -20px;

}

.CreatorForm {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  width: 100%;

  &-stylingControls {
    display: flex;
    height: 50px;

    .Temporary {
      flex: 1;
      margin: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
    }
  }
}

.TextInput {
  margin: 4px;
  padding: 2px;
  height: 38px;
  font-size: 20px;
}