
.CreatorContainer {
  //border: 1px solid $light-border-color;
  background-color: white;
  border-radius: $br-medium;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 5vw;
  @include for-tablet-landscape-up {
    padding: 35px;
  }

  justify-content: center;
  @include for-desktop-up {
    justify-content: space-between;
  }

  .PosterCanvasContainer {
    order: -1;
    margin-bottom: 25px;

    @include  for-desktop-up {
      order: 1;
      margin-bottom: 0px;
    }
  }

}

.CreatorForm {
  box-shadow: $bs-small;
  //border: 1px solid $light-border-color;
  border-radius: $br-medium;
  padding: 15px;

  flex: 1;
  max-width: 460px;
  height: 570px;

  display: flex;
  flex-direction: column;
  width: 100%;

  &-section {
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
      font-weight: normal;
    }
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }


  &-body, &-textInputs {
    display: flex;
    flex-direction: column;
  }

  &-stylingControls {
    display: flex;
    height: 50px;
    margin-bottom: 25px;

    .StylingControl {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
    }

    .StylingControl:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.FontSelector {
  width: 100%;
  background-color: white;
  padding: 5px;
}

.TextInput {
  margin: 5px 0;
  padding: 2px 4px;
  height: 34px;
  font-size: 20px;
}

