
.icon-sun-inv:before { content: '\31'; } /* '1' */
.icon-crown:before { content: '\2190'; } /* '←' */
.icon-giraffe:before { content: '\2191'; } /* '↑' */
.icon-guidedog:before { content: '\2192'; } /* '→' */
.icon-network:before { content: '\2193'; } /* '↓' */
.icon-cloud:before { content: '\2194'; } /* '↔' */
.icon-emo-tongue:before { content: '\2195'; } /* '↕' */
.icon-user-secret:before { content: '\2196'; } /* '↖' */
.icon-basket:before { content: '\2197'; } /* '↗' */
.icon-lock:before { content: '\2198'; } /* '↘' */
.icon-hourglass:before { content: '\2199'; } /* '↙' */
.icon-thumbs-up-alt:before { content: '\219b'; } /* '↛' */
.icon-thumbs-down-alt:before { content: '\219c'; } /* '↜' */
.icon-attention:before { content: '\219d'; } /* '↝' */
.icon-wrench:before { content: '\219e'; } /* '↞' */
.icon-headphones:before { content: '\219f'; } /* '↟' */
.icon-mute:before { content: '\21a0'; } /* '↠' */
.icon-volume-up:before { content: '\21a1'; } /* '↡' */
.icon-block:before { content: '\21a2'; } /* '↢' */
.icon-right-hand:before { content: '\21a3'; } /* '↣' */
.icon-left-hand:before { content: '\21a4'; } /* '↤' */
.icon-right-big:before { content: '\21a5'; } /* '↥' */
.icon-up-big:before { content: '\21a6'; } /* '↦' */
.icon-left-big:before { content: '\21a7'; } /* '↧' */
.icon-down-big:before { content: '\21a8'; } /* '↨' */
.icon-eye:before { content: '\21a9'; } /* '↩' */
.icon-lock-open:before { content: '\21aa'; } /* '↪' */
.icon-up-hand:before { content: '\21ab'; } /* '↫' */
.icon-down-hand:before { content: '\21ac'; } /* '↬' */
.icon-award:before { content: '\21ad'; } /* '↭' */
.icon-mobile:before { content: '\21ae'; } /* '↮' */
.icon-off:before { content: '\21af'; } /* '↯' */
.icon-gift:before { content: '\21b0'; } /* '↰' */
.icon-rocket:before { content: '\21b1'; } /* '↱' */
.icon-money:before { content: '\21b2'; } /* '↲' */
.icon-coffee:before { content: '\21b3'; } /* '↳' */
.icon-beer:before { content: '\21b4'; } /* '↴' */
.icon-food:before { content: '\21b5'; } /* '↵' */
.icon-bed:before { content: '\21b6'; } /* '↶' */
.icon-bomb:before { content: '\21b7'; } /* '↷' */
.icon-plug:before { content: '\21b8'; } /* '↸' */
.icon-diamond:before { content: '\21b9'; } /* '↹' */
.icon-apple:before { content: '\21ba'; } /* '↺' */
.icon-battery-4:before { content: '\21bb'; } /* '↻' */
.icon-facebook:before { content: '\21bc'; } /* '↼' */
.icon-gplus:before { content: '\21bd'; } /* '↽' */
.icon-instagram:before { content: '\21be'; } /* '↾' */
.icon-linkedin-squared:before { content: '\21bf'; } /* '↿' */
.icon-pinterest:before { content: '\21c0'; } /* '⇀' */
.icon-slideshare:before { content: '\21c1'; } /* '⇁' */
.icon-twitter:before { content: '\21c2'; } /* '⇂' */
.icon-snowflake-o:before { content: '\21c3'; } /* '⇃' */
.icon-bath:before { content: '\21c4'; } /* '⇄' */
.icon-dropbox:before { content: '\21c5'; } /* '⇅' */
.icon-infinity:before { content: '\21c6'; } /* '⇆' */
.icon-cd:before { content: '\21c7'; } /* '⇇' */
.icon-cloud-flash-inv:before { content: '\21cc'; } /* '⇌' */
.icon-king:before { content: '\21cd'; } /* '⇍' */
.icon-garden:before { content: '\21cf'; } /* '⇏' */
.icon-umbrella:before { content: '\21d0'; } /* '⇐' */
.icon-award-1:before { content: '\21d2'; } /* '⇒' */
.icon-rain-inv:before { content: '\21d4'; } /* '⇔' */
.icon-minefield:before { content: '\21d5'; } /* '⇕' */
.icon-delicious:before { content: '\21d6'; } /* '⇖' */
.icon-plancast:before { content: '\21d7'; } /* '⇗' */
.icon-book:before { content: '\21d8'; } /* '⇘' */
.icon-graduation-cap:before { content: '\21d9'; } /* '⇙' */
.icon-ok:before { content: '\21da'; } /* '⇚' */
.icon-trash:before { content: '\21dd'; } /* '⇝' */
.icon-heart-2:before { content: '\21f3'; } /* '⇳' */
.icon-heart-filled:before { content: '\25b2'; } /* '▲' */
.icon-emo-happy:before { content: '\25b6'; } /* '▶' */
.icon-heart-broken:before { content: '\25bc'; } /* '▼' */
.icon-heart:before { content: '\25c0'; } /* '◀' */
.icon-emo-sunglasses:before { content: '\2794'; } /* '➔' */
.icon-emo-coffee:before { content: '\2798'; } /* '➘' */
.icon-marquee:before { content: '\2799'; } /* '➙' */
.icon-emo-shoot:before { content: '\279a'; } /* '➚' */
.icon-emo-grin:before { content: '\279b'; } /* '➛' */
.icon-heart-1:before { content: '\279c'; } /* '➜' */
.icon-heart-empty:before { content: '\279d'; } /* '➝' */
.icon-male:before { content: '\279e'; } /* '➞' */
.icon-female:before { content: '\279f'; } /* '➟' */
.icon-users:before { content: '\27a0'; } /* '➠' */
.icon-user:before { content: '\27a1'; } /* '➡' */
.icon-camera-alt:before { content: '\27a2'; } /* '➢' */
.icon-camera:before { content: '\27a3'; } /* '➣' */
.icon-picture:before { content: '\27a4'; } /* '➤' */
.icon-videocam:before { content: '\27a5'; } /* '➥' */
.icon-home:before { content: '\27a6'; } /* '➦' */
.icon-battery-0:before { content: '\27f2'; } /* '⟲' */
.icon-snapchat-ghost:before { content: '\27f3'; } /* '⟳' */
.icon-accessibility:before { content: '\e006'; } /* '' */