<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keep Calm And Carry On Poster Generator</title>
    <meta name="description" content="Easily build and customize a Keep Calm And Carry On poster with just few clicks.">
    <meta property="og:site_name" content="https://keepcalm.top/">
    <!--
        TODO: https://developers.facebook.com/docs/sharing/webmasters#markup
        TODO: twitter one too
    -->
</head>
<body>
<div id="app"></div>
</body>
</html>
